/* By Abdullah As-Sadeed */

.context_menu {
  position: fixed;
  z-index: 2;
  width: 150px;
  background-color: var(--overlap);
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s;
}

.context_menu_item {
  padding: 8px 10px;
  color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  display: block;
}

.context_menu_item:hover {
  background-color: var(--black-hover);
}
